# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Environments
env/
venv/
.venv/

# IDE files
.idea/
.vscode/

# OS files
.DS_Store

# Logs
*.log

# Checkpoints, generated data, large outputs
training_results_TEST/
training_results*/
*.pkl
*.pt
*.ckpt
